@page
@model IndexModel
@{
    ViewData["Title"] = "UploadFile";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my test app</h1>
</div>
<br/>
<br/>
<div class="text-center">
    <form method="post" enctype="multipart/form-data">
        <input type="file" asp-for="UploadedFile"/>
        <input type="submit" value="Analyze File"/>
    </form>
</div>
<br/>
<br/>
<br/>
<div class="text-center">
    <h1 class="longest-word-class">Longest word from the uploaded file is:</h1>
    <h1 class="display-4" id="longestWord">@Model.LongestWord</h1>
</div>